#books__body {
    background-color: rgba(115, 66, 214, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #books__main {
    flex: 1;
  }
  
  .books__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .books__header--title {
    margin-bottom: 0;
  }
  
  select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
  }
  
  .books__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
  }
  
  .books__loading--spinner {
    display: none;
  }

  .books__loading .books__loading--spinner {
    display: flex;
  }
  .fa-spinner {
    animation: rotate 600ms infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }